{% set currentPage = ('home' if page.fileSlug === '' else 'default') %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% include "partials/meta-info.html" %}
    <link rel="shortcut icon" type="image/png" href="../images/Favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../font/flaticon.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>

  <body class="body-back" data-spy="scroll" data-target="#bs-example-navbar-collapse-1"></body>
  
    <!-- back to top start -->
    <a href="#" id="back-top-btn"><i class="fas fa-arrow-circle-up"></i></a> 
    <!-- back to top end -->
    
    {% include "partials/navigation.html" %}
    <main tabindex="-1" id="main-content">

      {% include ("partials/page-banner.html" if currentPage == 'default' else "partials/home-banner.html") %}
    
      {% block content %}
      {{ content | safe }}
      {% endblock %}
  </main>

     <!--=======================
    contact Part HTML Start
    ========================-->
    <section id="contact" class="contact common">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="contact-shad">
              <div class="row">
                <div class="col-md-6">
                  <div class="contact-txt">
                    <div class="cont-head">
                      <h3 class="heading-font">Contact Us</h3>
                      <p>
                        
                      </p>
                    </div>
                  </div>
                  <div class="row cont-icon-pad">
                    <div class="col-md-12">
                      <div class="row ptb-bb">
                        <div class="col-lg-2 col-md-3 col-3">
                          <div class="location-icon">
                            <i class="fa fa-envelope"></i>
                          </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-9">
                          <ul class="location-txt">
                            <li>&nbsp;</li>
                            <li>info@allwalks.yoga</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row cont-icon-pad">
                    <div class="col-md-12">
                      <div class="row ptb-bb">
                        <div class="col-lg-2 col-md-3 col-3">
                          <div class="location-icon">
                            <i class="fa fa-phone"></i>
                          </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-9">
                          <ul class="location-txt">
                            <li>&nbsp;</li>
                            <li>(234) 738-2024‬</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row cont-icon-pad">
                    <div class="col-md-12">
                      <div class="row pt">
                        <div class="col-lg-2 col-md-3 col-3">
                          <div class="location-icon">
                            <i class="fas fa-map-marker-alt"></i>
                          </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-9">
                          <ul class="location-txt">
                            <li>&nbsp;</li>
                            <li>Akron, Ohio</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contact-form">
                    <form>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          placeholder="Name"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          name="email"
                          placeholder="Email"
                        />
                      </div>
                      <div class="form-group">
                        <textarea
                          name="meassage"
                          placeholder="Messages"
                        ></textarea>
                      </div>
                      <button type="submit" class="btn">send</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=======================
    contact Part HTML End
    ========================-->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="footer-text">
              <p>© Copyright {{ global.currentYear() }}. All rights reserved by All Walks Yoga, LLC.</p>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="https://www.facebook.com/allwalksyoga"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/allwalksyoga"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/allwalksyoga"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/allwalksyoga"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <!--<li>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--===========================
        Footer Part HTML End
    ============================-->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>