{% extends "layouts/base.html" %} {% block content %}
<section id="next-level" class="next-level-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="level-detail">
          <p>
            <strong>Important note about class location: </strong>While we
            continue to search for a permanent space on The Boulevard, our class
            location can vary. The location for each class is included in the title of the class and in the class details. You can view this by clicking the (i) next to the
            class name.
          </p>
          <div
            id="frameTitle"
            class="embedded-widget-title"
            style="
              font-size: 23px;
              color: #333;
              font-family: Arial, Helvetica, sans-serif;
              line-height: 24px;
              padding: 18px 10px 8px;
              text-align: center;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            "
          ></div>
          <div
            class="vagaro"
            style="
              width: 250px;
              padding: 0;
              border: 0;
              margin: 0 auto;
              text-align: center;
            "
          >
            <style>
              .vagaro a {
                font-size: 14px;
                color: #aaa;
                text-decoration: none;
              }</style
            ><a href="https://sales.vagaro.com/">Powered by Vagaro</a>&nbsp;<a
              href="https://sales.vagaro.com/salon-software"
              >Salon Software</a
            >,&nbsp;<a href="https://sales.vagaro.com/spa-software"
              >Spa Software</a
            >&nbsp;&amp;&nbsp;<a
              href="https://sales.vagaro.com/fitness-software"
              >Fitness Software</a
            >
            <script
              type="text/javascript"
              src="https://www.vagaro.com//resources/WidgetEmbeddedLoader/OZqnE3KnCp0cT3qrV3Py79oz34mC2PeFJ4mC30m9dSycXCu7gevEhAJDXwQ0?v=vzl5TNjihRyZAvixb7gA6kT4VMp7MnNr19ol3UJnuvv#"
            ></script>
          </div>
          <p>
            If the class listing fails to load on this page, you can book
            directly though our booking partner by
            <a
              href="https://www.vagaro.com/allwalksyoga/classes"
              target="_blank"
              >clicking here</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "partials/join-class.html" %} {% endblock %}
