{% extends "layouts/base.html" %}

{% block content %}

{% include "partials/cta.html" %}

    <!--======================
    About Us Part HTML Start
    =======================-->

    <section id="next-level" class="next-level">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="next-block">
              <img src="./images/about-us.png" class="img-fluid" alt="banner" />
              <div class="animation-circle-inverse left">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="level-detail">
              <h3>Welcome To OmYoga</h3>
              <h1 class="heading-font">
                Take your Yoga to the next level with us
              </h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore.
              </p>
              <div class="banner-btn">
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--=======================
    About Us Part HTML End
    ========================-->

{% endblock %}