{% extends "layouts/base.html" %} {% block content %} {% include
"partials/cta.html" %}

<!--======================
    About Us Part HTML Start
    =======================-->

<section id="next-level" class="next-level">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="next-block">
          <img src="./images/about-us.png" class="img-fluid" alt="banner" />
          <div class="animation-circle-inverse left">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="level-detail">
          <h3>Are you ready to</h3>
          <h1 class="heading-font">Start Something New?</h1>
          <p>
            We know it can be difficult to try something new, but out mission is
            to provide a place where instructors and students are welcoming,
            loving, and kind!
          </p>
          <p>
            We do our best to maintain a limited amount of mats and props on
            hand to borrow in case you don't have your own. Just ask your
            instructor! Put on some comfortable clothing and join us.
          </p>
          <p>
            If you are new to Yoga or our studio, please see the
            <a href="../studio-etiquitte/">Studio Tips</a> we've put together to
            help you make the most out of your visit!
          </p>
          <div class="banner-btn">
            <a href="../about/">Learn More About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=======================
    About Us Part HTML End
    ========================-->

{% include "partials/pricing.html" %} {% endblock %}
