{% extends "layouts/base.html" %} {% block content %}
<section id="next-level" class="next-level-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="level-detail cont-head">
          <h1>STUDIO POLICIES, ETIQUETTE AND WAIVER</h1>
          <p>
            <strong>Waivers</strong> - Every person who practices in our studio
            must sign a waiver, before they take class. No exceptions. No
            waiver, no practice.
          </p>
          <p>
            <strong>Disclaimer</strong> - Schedules, teachers and prices of
            classes, passes, memberships and/or products are subject to change
            without notice. Please always check our website for our most current
            offers.
          </p>
          <p>
            <strong>Privacy Policy</strong> - Your privacy is very important to
            us. Any personal information you choose to give us will only be used
            to help us provide you with the highest quality services, products,
            and support. We will never share your personal or financial
            information with any other party. We do not share bank or credit
            card information with any outside parties.
          </p>
          <h1>CLASS ATTENDANCE POLICY</h1>
          <p>
            We understand that life is full of surprises and you will not always
            be able to attend the classes you sign up for. If you can’t come to
            class, you can cancel your reservation up to 12 hours before the
            class starts. You may also call the studio at 234-738-2024 or email
            us at <a href="mailto:info@allwalks.yoga">info@allwalks.yoga</a> to
            cancel your reservation if you aren’t able to do it online or via
            the Vagaro app. If you call or email, leave a message with your name
            and class that you are registered for. Credit for the class will be
            placed on your account and can be applied towards a future class. If
            you are not able to cancel at least 12 hours before the class, you
            will be charged for the class or deducted a class pass credit.
          </p>
          <h1>STUDIO CANCELLATION AND REFUND POLICY</h1>
          <p>
            <strong>Classes and Class Passes Cancellations and Refunds</strong>
            - Prepaid classes and absence from classes are non-refundable. Class
            Passes are non-refundable, non-extendable, non-sharable, and
            non-transferable to other persons. They are subject to limits of
            time. Always check your expiration date before and after your
            purchase.
          </p>
          <p>
            <strong>Gift Cards Refunds</strong> - Gift Cards are non-refundable
            and non-returnable. If purchased for a specific pass, they cannot be
            used as cash.
          </p>
          <p>
            <strong>Membership Cancellation</strong> - Membership’s automatic
            payments are non-refundable after having been processed unless a
            mistake on our part took place. Memberships are non-transferable to
            another person.<br />
            For more details please refer to your signed contract to understand
            how to cancel a membership.
          </p>
          <p>
            <strong
              >Workshop, Events, Retreats Cancellations and Refunds</strong
            >
            - Workshop cancellations require a 48 hour email notice before the
            workshop takes place. Cancellation requests with less than 48 hours
            notice will not be honored unless we can fill your space. All
            refunds will incur a 20% administration fee, or you can get a full
            refund credited to your All Walks Yoga account (can be used towards
            any purchase).
          </p>
          <p>
            <strong
              >Workshop cancellation requests must be requested by email to
              <a href="mailto:info@allwalks.yoga">info@allwalks.yoga</a>.
              Absence to a workshop, event or retreat is non-refundable.</strong
            >
            Workshops and events could occasionally be canceled by the studio.
            If your event is canceled you will be notified by email, and you
            will receive a full refund or full credit toward your All Walks Yoga
            account if you choose.
          </p>
          <p>
            <strong>Studio Maximum Capacity</strong> - All Walks Yoga is
            fortunate to have a practice spaces in which classes are held.
            However, there is a limit to how many individuals can comfortably
            fit per class. Once this number of people are registered for class,
            we would ask that remaining students return to take a different
            class. Registering online is recommended to save a spot in class,
            but if you register online and come to class after class has started
            and the class is already full, we will kindly ask that you return to
            another class.
          </p>
          <p>
            <strong>Latecomers -</strong> Students can arrive a maximum of
            <strong>5 minutes late</strong>! Latecomers should wait for seated
            meditation/centering to finish before entering the room. 5 minutes
            after class has started no late comers will be admitted and we will
            kindly ask that you come to a different class. No refunds will be
            given to students that arrive late and are denied entry to a class.
          </p>
          <p>
            <strong>Studio Cancellations</strong> - In the event that the studio
            is required to cancel a class, we will make our best efforts to
            notify you with sufficient time before the class is scheduled to
            begin. If the studio cancels class, you may receive a full refund
            for the course or credit towards a future course.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
