  <!--==================
   Why choose us HTML Start
   ===================-->

   <article id="about" class="about common about-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-head">
            <h2 class="heading-font">{{ ctaSection }}</h2>
          </div>
        </div>
      </div>
      <div class="row choose-slick">
        <div class="col-md-4">
          <div class="about-inner text-center">
            <i class="flaticon-meditation"></i>
            <h4 class="heading-font">{{ cta1.header }}</h4>
            <p>
              {{ cta1.text }}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-inner text-center">
            <i class="flaticon-workout"></i>
            <h4 class="heading-font">{{ cta2.header }}</h4>
            <p>
              {{ cta2.text }}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-inner text-center">
            <i class="flaticon-icon-135439"></i>
            <h4 class="heading-font">{{ cta3.header }}</h4>
            <p>
              {{ cta3.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!--==================
  Why choose us HTML End
  ===============-->