  <!--==================
   Why choose us HTML Start
   ===================-->

   <article id="about" class="about common about-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-head">
            <h2 class="heading-font">Why Choose Us?</h2>
          </div>
        </div>
      </div>
      <div class="row choose-slick">
        <div class="col-md-4">
          <div class="about-inner text-center">
            <i class="flaticon-meditation"></i>
            <h4 class="heading-font">Yoga for All</h4>
            <p>
              Accessible classes and instructors that guide you at your level regardless of experience.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-inner text-center">
            <i class="flaticon-workout"></i>
            <h4 class="heading-font">More Than Physical Poses</h4>
            <p>
              There are eight limbs of Yoga. We focus on more than just the physical aspect.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-inner text-center">
            <i class="flaticon-icon-135439"></i>
            <h4 class="heading-font">Safe Space</h4>
            <p>
              We strive to be a safe welcoming space for all. This is YOUR studio to grow, heal, and learn.
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!--==================
  Why choose us HTML End
  ===============-->