<!--=========================
        Banner Part HTML Start
        =======================-->
<article id="banner" class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 banner-l">
        <div class="banner-text">
          <h3>Welcome to</h3>
          <h1 class="heading-font">All Walks Yoga</h1>
          <p>
            Located in Kenmore, Ohio, we are bringing accessible Yoga to the
            Boulevard and surrounding area. Our focus on accessible yoga aims
            to bring everyone together regardless of race, gender, sexual
            orientation, body type, body ability, or fitness level. No matter
            where you are in your walk of life, all are welcome, together.
          </p>
          <div class="banner-btn">
            <a href="../classes/">See Our Classes</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 banner-yoga d-md-block d-none">
        <div class="banner-block">
          <img src="images/banner-shape.png" class="img-fluid" alt="banner" />
          <div class="animation-circle-inverse left">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<!--====================
              Banner Part HTML End
          ======================-->
