    <!--=======================
    Join Class Part HTML Start
    ========================-->
    <section class="join-cls">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="join-text">
                <h3 class="heading-font">Join Us at All Walks Yoga</h3>
                <p>
                  Experience accessible yoga by booking one of our upcoming classes today. Our classes are designed to be accessible regardless of body type, body ability, or fitness level.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="banner-btn">
                <a href="../classes/">See Our Classes</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=======================
      Join Class Part HTML End
      ========================-->