    <!--===================
    Navbar Part HTML Start
    =====================-->
    <header class="nav_area">
        <div class="container">
          <div class="logo_container">
            <a href="https://allwalks.yoga"
              ><img src="../images/logo.png" class="img-fluid" alt="logo" 
            /></a>
          </div>
          <input type="checkbox" id="toggle" style="display:none;" />
          <label class="toggle-btn toggle-btn__cross" for="toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </label>
          <nav>
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
          </nav>
        </div>
      </header>