    <!--=========================
        Breadcrum Part HTML Start
        =======================-->
        <section id="breadcrun" class="breadcrun-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="bread-inner">
                            <h1 class="heading-font">{{title}}</h1>
                            <ul class="breadcrumb">
                                <li>
                                    <a href="https://allwalks.yoga">
                                        <p>Home</p>
                                    </a>
                                </li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>
                                    <p>{{title}}</p>
                                </li>
                            </ul>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!--====================
            Breadcrum Part HTML End
        ======================-->