    <!--=========================
        Breadcrumb Part HTML Start
        =======================-->
        <section id="breadcrumb" class="breadcrumb-banner breadcrumb-banner-{% if eleventyNavigation.parent %}{{eleventyNavigation.parent}}{% else %}{{page.fileSlug}}{% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="bread-inner">
                            <h1 class="heading-font">{{title}}</h1>
                            <ul class="breadcrumb">
                                <li>
                                    <a href="https://allwalks.yoga">
                                        <p>Home</p>
                                    </a>
                                </li>
                                {% if eleventyNavigation.parent %}
                                {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
                                {%- for entry in navPages %}
                                    <li>
                                        <i class="fas fa-angle-right"></i>
                                    </li>
                                    <li>
                                        <a href="{{ entry.url | url }}"><p>{{ entry.title }}</p></a>
                                    </li>
                                {%- endfor %}
                                {% endif %}
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>
                                    <p>{{title}}</p>
                                </li>
                            </ul>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====================
            Breadcrumb Part HTML End
        ======================-->
