   <!--=======================
    Pricing Part HTML Start
    ========================-->
    <section id="price" class="price common">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="section-head">
                <h2 class="heading-font">Our Pricing Plan</h2>
              </div>
            </div>
          </div>
          <div class="row price-slick">
            <div class="col-md-4 text-center">
              <div class="price-plan">
                <div>
                  <img
                    src="images/price-icon.png"
                    class="img-fluid"
                    alt="client"
                  />
                  <h3 class="heading-font">Drop In Class</h3>
                  <h5 class="heading-font">$12 per class</h5>
                  <p>
                    Drop in anytime for a class with us for only $12.00 per class.
                  </p>
                  <div class="banner-btn">
                    <a href="../class-schedule/">Schedule Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="price-plan">
                <div>
                  <img
                    src="images/price-icon.png"
                    class="img-fluid"
                    alt="client"
                  />
                  <h3 class="heading-font">5 Class Pack</h3>
                  <h5 class="heading-font">$55 per pack</h5>
                  <p>
                    Class packs are available for a discount on the per class price.
                  </p>
                  <div class="banner-btn">
                    <a href="https://www.vagaro.com/allwalksyoga/memberships">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="price-plan">
                <div>
                  <img
                    src="images/price-icon.png"
                    class="img-fluid"
                    alt="client"
                  />
                  <h3 class="heading-font">10 Class Pack</h3>
                  <h5 class="heading-font">$100 per pack</h5>
                  <p>
                    Class packs are available for a discount on the per class price.
                  </p>
                  <div class="banner-btn">
                    <a href="https://www.vagaro.com/allwalksyoga/memberships">Purchase Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=======================
      Pricing Part HTML End
      ========================-->